
body{
    font-family: "Comfortaa", sans-serif;
}

a{
    text-decoration: none;
    color: #608fc2;
}

.list-mag-body{
    margin: 50px;
}

.clr{
    color: #608fc2;
}

/*table*/

table{
    width: 100%;
    border-spacing: 0 2em;
}

tr{
    width: 100%;
    text-align: center;
}

td{
    width: 20%;
    list-style: none;
}

.action{
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
}